[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL

# При значении равном 0, лог сбрасывается на диск один раз в секунду, вне зависимости от происходящих транзакций.
# При значении равном 1, лог сбрасывается на диск при каждой транзакции.
# При значении равном 2, лог пишется при каждой транзакции, но не сбрасывается на диск никогда, оставляя это на совести ОС.
innodb_flush_log_at_trx_commit = 0 
# Данные вновь создаваемых таблиц сохраняются в отдельные файлы
innodb_file_per_table = 1
# Транзакции необходимо явно COMMIT'ить
autocommit = 0
# Размер буфера лога
innodb_log_buffer_size	= 1M
# Буфер, выделяемый под индексы и доступный всем потокам
key_buffer_size = 10G
# Размер бинарного лога операций
max_binlog_size	= 100M